- news_updates.each do |news_update|
  %h3= news_update.title
  %h4= news_update.excerpt
  %h4= news_update.link

  = image_tag(news_update.image_url.present? ? news_update.image_url : 'http://www.finlandia.edu/wp-content/plugins/events-calendar-pro/src/resources/images/tribe-related-events-placeholder.png')
